<a name="theduo"></a>
<h2 class="title">THE DUO</h2>
  <ul id="bios">
    <li>
      <div id="bio">
        <h2 class="center">RYAN CECIL</h2>
        <p><img src="images/bio/ryan.png" align="right" style="width: 50%;border-radius:15px;">Ryan grew up in Bardstown, KY, which most people know as the bourbon capital of the world.  He has been surrounded by the bourbon industry and seen it grow and flourish throughout his life. Many of his closest friends and relatives work at the local distilleries such as Heaven Hill, Willett, and Jim Beam. All these close ties keep him in the loop of the latest bourbon news and access to some insider trade secrets. Bourbon used to be a means of wild partying, but has now grown into a deep appreciation for positive impact for his state and hometown. Some of Ryan's favorite bourbons are Elijah Craig, Willett Family Estate, and W.L. Weller 12.</p>
        <p>Ryan's real job is owner/partner of <a href="http://gogreenlawnsolutions.com/">Go Green Lawn Solutions</a>, a turf management company, and <a href="http://www.bitefreebackyard.com/">Mosquito 911</a>, a pest control company.</p>
        <p>
          <ul id="bioicons" class="center">
            <li><a href="https://twitter.com/gogreenlawn"><img src="images/bio/social/twitter.png"></a></li>
            <li><a href="https://www.facebook.com/pages/Go-Green-Lawn-Solutions-Lawn-Care-Louisville-KY/103402989694591"><img src="images/bio/social/facebook-square.png"></a></li>
          </ul>
        </p>
      </div>
    </li>
    <li>
      <div id="bio">
        <h2 class="center">KENNY COLEMAN</h2>
        <p><img src="images/bio/kenny.png" align="right" style="width: 50%;border-radius:15px;">Kenny got into bourbon back in the early days of college after being recruited to a fraternity known for being the biggest bourbon drinkers on UK's campus. Back then, it was handles of Kentucky Tavern and Very Old Barton on a weekly basis. After college, Old Forrester became a staple in his post-grad home and splurged on 4 Roses Small Batch. It wasn't until 2011 when the itch hit to start buying more high-end and rare release bourbons. Since then, Kenny has been known to camp out for Pappy Van Winkle and troll liquor stores on a weekly basis waiting for those rare ones to hit the shelf.</p>
        <p>Kenny's day job is a Developer Advocate with <a href="http://emccode.github.io/">EMC {code}</a> where he spends his time speaking at tech events, being focused on DevOps methodologies, and writing code.</p>
        <p>
          <ul id="bioicons" class="center">
            <li><a href="https://twitter.com/kendrickcoleman"><img src="images/bio/social/twitter.png"></a></li>
            <li><a href="http://instagram.com/crooked_toe/"><img src="images/bio/social/instagram.png"></a></li>
            <li><a href="https://www.linkedin.com/in/kendrickcoleman"><img src="images/bio/social/linkedin.png"></a></li>
            <li><a href="https://github.com/kacole2"><img src="images/bio/social/github.png"></a></li>
            <li><a href="http://kendrickcoleman.com"><img src="images/bio/social/rss-feed.png"></a></li>
            <li><a href="https://www.youtube.com/user/kacole2"><img src="images/bio/social/youtube.png"></a></li>
          </ul>
        </p>
      </div>
    </li>
  </ul>