
/* #Media Queries
================================================== */
/* Nice Big Banner and fix when screen gets smaller than 1276 */
@media only screen and (max-width: 1290px) {

}


/* Smaller than standard 980 (devices and browsers) */
@media only screen and (max-width: 979px) {
	#content {
	    width: 760px;
	    padding: 100px 0 40px;
	}

	#menu li {
	  font-size: 2.2.5em;
	  display: inline-block;
	  padding: 0 2.5%
	}

	#socialicons li img:hover {
	  transform: translateY(0px);
	  -ms-transform: translateY(0px); /* IE 9 */
	  -webkit-transform: translateY(0px); /* Chrome, Safari, Opera */
	}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 765px) {
	body {
	  background: url('../images/765bg.jpg') 0 0 no-repeat; 
	  background-size: 100% 100%;
	}

	#content {
	    width: 600px;
	    padding: 100px 0 20px;
	}

	#epnum {
  		width: 20%;
  		padding: 0;
  	}

  	#photo {
	  width: 20%;
	  padding: 0%
	}

	.episodeimg {
	  width: 100px;
	  margin: 5%;
	}

	#player {
	  width: 55%;
	  padding: 0% 2.5%;
	}
	#socialicons li {
  		width: 23%;
  		padding: 0;
  		margin: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  	#content {
	    width: 520px;
	    padding: 30px 0 10px;
	}

	header, #menu {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {
	  background: url('../images/480bg.jpg') 0 0 no-repeat; 
	  background-size: 100% 100%;
	}

	header, #menu {
		display:none;
	}

	.slicknav_menu {
		display:block;
	}

	#content {
	    width: 300px;
	    padding: 30px 0px 10px;
	}

	#photo {
	  width: 50%;
	  padding: 0%
	}

	.episodeimg {
	  width: 100px;
	  margin: 10%;
	}

	#epnum {
  		width: 50%;
  		padding: 0;
  	}

  	#player {
	  width: 90%;
	  padding: 0% 5%;
	}

	#shownotes {
	  width: 90%;
	  margin: 1.5% 5%;
	}

	#bios li { 
	  width: 100%;
	}

	#bioicons li {
  		width: 10%;
  	}
}